@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Club>

<div class="album py-5 bg-body-tertiary">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			@foreach (var club in Model)
			{
				<div class="col">
					<div class="card shadow-sm">
						<img class="card-img-top" src="@club.Image" alt="Club image" />
						<div class="card-body">
							<h3 class="card-text">@club.Title</h3>
							<p class="card-text">@club.Description</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@club.Id"
									   class="btn btn-sm btn-outline-secondary">View</a>
									<a type="btn btn-success" asp-controller="Club" asp-action="Edit" asp-route-id="@club.Id"
									   class="btn btn-sm btn-outline-secondary">Edit</a>
									<a type="btn btn-success" asp-controller="Club" asp-action="Delete" asp-route-id="@club.Id"
									   class="btn btn-sm btn-outline-secondary">Delete</a>
								</div>
								<small class="text-body-secondary">Category: @club.ClubCategory</small>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
